version: '3.8'

services:
  telegram-bot:
    build: .
    image: telegram-bot-base
    container_name: telegram-bot-base
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
